<div class="card">
 <div class="valueField">
   <span>{{vals}}</span>
   <span class="operator">{{operator}}</span>  
  </div>
 
 <div class="container">
  <div class="row justify-content-center">
    <input type="button" class="col-2 btn operator-keys" *ngFor="let operator of operators;" [value]="operator"
      (click)="enteredOperator(operator)">
  </div>
</div>
<br>

  <div class="container">
    <div class="row justify-content-center">
      <input type="button" class="col-3 btn keys" *ngFor="let num of keys; let i = index" [value]="num"
        (click)="enteredVal(num)">
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row footer-btns justify-content-center">
      <button type="button" class="btn btn-success col-3" (click)="compute()" value="="> = </button>
      <button type="button" class="btn btn-danger col-3" (click)="clear()" value="Clear"> Clear </button>
      <button type="button" class="btn btn-outline-dark col-3" (click)="deleteOne()" value="Delete"> Delete </button>
    </div>
  </div>

  


</div>

